<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jifen.qukan.plugin" >


    <application
        android:name="com.good.diaodiaode.plugin.activity.PluginApplacation"
        android:allowBackup="true"
        android:supportsRtl="true">
    </application>

</manifest>
