<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.good.diaodiaode.plugin" >


    <application
        android:name="com.good.diaodiaode.plugin.activity.PluginApplacation"
        android:allowBackup="true"
        android:icon="@null"
        android:label="插件"
        android:supportsRtl="true"
        android:theme="@null"></application>

</manifest>
